<div class="row">
    <h3 class="text-center">好友列表</h3>
    <hr>
    <table class="table table-border">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <td>#</td>
            <td><%= friend.username %></td>
            <td><%= friend.email%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
