<div class="row">
  <div class="col-md-9">
    <table class="table table-border">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td>#</td>
        <td><%= friend.username %></td>
        <td><%= friend.email %></td>
        <td><%= link_to '删除联系人',friendship_path(friend), method: :delete, class: 'btn btn-danger', data: { confirm: "Delete this Friend?"}%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
